{{block "index" .}}
<html>

<head>
  {{block "head" .}}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="/static/index.js"> </script>
  <link rel="stylesheet" href="/static/styles.css" />
  {{end}}
</head>

<body>
  <div x-data="context">
    <button @click="getMap()" style="margin-bottom: 10px;">Clickear</button>
    <template x-if="loading">
      <span>loading</span>
    </template>
    <template x-if="map">
      <div class="board" :style="`--columns: ${map[0].length};--rows: ${map.length}`">
        <template x-for="(row,rowIdx) in map">
          <template x-for="(cell,cellIdx) in row">
            <div class="cell" :class="{'walkable': !!Number(cell)}" x-text="`${rowIdx}-${cellIdx}:${cell}`"></div>
          </template>
        </template>
      </div>
    </template>
  </div>
</body>

</html>
{{end}}
